:root{
    --primary-color: #275AFE;
    --hover-color: #849fff;
    --secondary-color: #00B4D8;
    --tertiary-color: #ECECF2;
    --background-color: #F4F4F8;
    --heavy-color: #023E8A;
    --text-color: #4C5F71;
    --blacktext-color: #000;
    --theme-color: #FFF;

}